@use '../../../../styles/abstract' as *;

.c-card {
	width: 100%;
	display: grid;
	position: relative;

	// border-top: 1px solid black;
	border-bottom: 1px solid black;

	&__image {
		position: relative;
		width: 100%;
		grid-column: 1 / 2;
		overflow: hidden;
	}

	&__content {
		grid-column: 1 / 2;
		align-self: end;
		z-index: 1;
		background-color: $c-white;

		h3 {
			color: black;
			padding: 0 $spacer;
			font-size: 3rem;
			margin: $spacer-big $spacer-small;
		}
	}

	&__tags {
		display: flex;
		justify-content: space-between;
		background-color: $c-white;
		padding: $spacer;
	}

	&__icons {
		position: absolute;
		top: $spacer;
		right: $spacer;
	}

	&__icon {
		padding: $spacer;
		background-color: $c-white;
		margin: $spacer;
		display: block;
	}
}
