@use '../../../../styles/abstract' as *;

.c-label {
	position: relative;

	&__content {
		font-size: 1.2rem;
		margin-left: $spacer;
	}

	&__icon {
		position: absolute;
		top: 0.6rem;
		left: $spacer;
		z-index: 2;
	}

	.c-select {
		font-size: 2rem;
		border: black 1px solid;
		border-radius: 24px;
		background-color: white;
		display: block;
		position: relative;
		padding: $spacer-small $spacer-small $spacer-small 35px;

		&::placeholder {
			color: $c-grey;
		}
	}
}
