@use '../../../../styles/abstract' as *;

.c-label {
	position: relative;

	&__content {
		font-size: 1.2rem;
		margin-left: $spacer;
	}

	.c-input {
		font-size: 2rem;
		border: black 1px solid;
		border-radius: 24px;
		background-color: transparent;
		display: block;
		position: relative;
		padding: $spacer-small $spacer-small $spacer-small 35px;

		&::placeholder {
			color: $c-grey;
		}
	}
}
