@use '../../../../styles/abstract' as *;

.c-label {
	position: relative;

	&__content {
		font-size: 1.2rem;
		margin-left: $spacer;
	}

	.c-textarea {
		font-size: 1.5rem;
		border: black 1px solid;
		border-radius: 24px;
		background-color: white;
		display: block;
		width: 100%;
		position: relative;
		padding: $spacer-big;
		margin-bottom: 100px;
		font-family: Helvetica, sans-serif;
		height: 80vh;

		&::placeholder {
			color: $c-grey;
		}
	}
}
