@use '../../../../styles/abstract' as *;

.c-button {
	font-size: 2rem;
	padding: $spacer-small $spacer;
	border: 1px solid black;
	border-radius: 50px;
	background-color: white;
	display: inline-block;
	margin: $spacer 0;

	&__big {
		// background-color: blue;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid black;
		margin: 0;
		background-color: transparent;

		&--active {
			background-color: #ffd336;
		}
	}
}
