@use '../../../../styles/abstract' as *;

.c-form {
	// padding-bottom: 300px;

	// &__noscroll {
	// 	overflow: hidden;
	// }

	p {
		font-size: 2rem;

		&.c-form__error {
			color: red;
			font-size: 1.2rem;
		}
	}

	&__image {
		position: relative;

		&--button {
			position: absolute;
			bottom: $spacer-big;
			right: $spacer-big;
		}
	}

	&__fieldset {
		border: none;
		padding: $spacer-big;
		border-top: 1px solid black;

		// border-bottom: 1px solid black;

		&--bools {
			background-color: #beecff;

			p {
				text-align: center;
			}
		}

		&--method {
			background: #ffd336;
		}

		&--ingredients {
			background-color: #adb7ff;

			&--ingredient {
				display: flex;
				align-items: center;

				label,
				p {
					margin-right: $spacer;
				}

				// &--button-text {
				// 	margin: 0;
				// }
			}

			a {
				text-align: center;
			}
		}

		&--submit {
			background-color: #fea4bd;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			z-index: 2;
		}

		&--collapsed {
			display: none;
		}

		&--name {
			border-bottom: none;
		}

		&--inputs {
			border-top: none;

			p {
				display: inline;
				margin: $spacer;

				&:nth-child(1) {
					margin-left: 0;
				}

				&:nth-last-child(1) {
					margin-right: 0;
				}
			}

			div {
				display: inline-block;
			}
		}
	}
}

.ingredientList {
	// padding-bottom: 200px;
	display: grid;
	grid-template-columns: 1fr;
	max-height: 100vh;
	grid-template-rows: min-content 1fr min-content;
}
